[submodule ".vim/pack/psaia/start/ale"]
	path = .vim/pack/psaia/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule ".vim/pack/psaia/start/nerdtree"]
	path = .vim/pack/psaia/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/psaia/start/dockerfile.vim"]
	path = .vim/pack/psaia/start/dockerfile.vim
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule ".vim/pack/psaia/start/rust.vim"]
	path = .vim/pack/psaia/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim/pack/psaia/start/vim-terraform"]
	path = .vim/pack/psaia/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule ".vim/pack/psaia/start/vim-node"]
	path = .vim/pack/psaia/start/vim-node
	url = git@github.com:moll/vim-node.git
[submodule ".vim/pack/psaia/start/vim-graphql"]
	path = .vim/pack/psaia/start/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
[submodule ".vim/pack/psaia/start/vim-protobuf"]
	path = .vim/pack/psaia/start/vim-protobuf
	url = git@github.com:uarun/vim-protobuf.git
[submodule ".vim/pack/psaia/start/typescript-vim"]
	path = .vim/pack/psaia/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/pack/psaia/start/editorconfig-vim"]
	path = .vim/pack/psaia/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/pack/psaia/start/nord-vim"]
	path = .vim/pack/psaia/start/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule ".vim/pack/psaia/start/vim-go"]
	path = .vim/pack/psaia/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/pack/psaia/start/lightline.vim"]
	path = .vim/pack/psaia/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule ".vim/pack/psaia/start/vim-surround"]
	path = .vim/pack/psaia/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/psaia/start/vim-easymotion"]
	path = .vim/pack/psaia/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule ".vim/pack/psaia/start/tsuquyomi"]
	path = .vim/pack/psaia/start/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule ".vim/pack/psaia/start/vim-javascript"]
	path = .vim/pack/psaia/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/pack/psaia/start/vim-jsdoc"]
	path = .vim/pack/psaia/start/vim-jsdoc
	url = git@github.com:heavenshell/vim-jsdoc.git
[submodule ".vim/pack/psaia/start/vim-markdown"]
	path = .vim/pack/psaia/start/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
